* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 5px #fff;
}

section {
  background-image: url("../img/medellin-day.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: #fff;
  height: 100vh;
}

h1 {
  font-size: 40px;
  margin: 20px;
}
p {
  font-size: 25px;
  margin: 20px;
}

/* Dark mode ==> */
body {
  -webkit-transition: 0.3 ease all;
  transition: 0.3 ease all;
}

.switch {
  -webkit-appearance: none;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 80px;
  height: 40px;
  background-image: url(https://res.cloudinary.com/dargjxuh5/image/upload/v1598812468/day_rel4on.png);
  background-size: cover;
  border-radius: 25px;
  outline: none;
  transition: background-image 0.9s;
  box-shadow: 0px 2px 5px 1px gray;
}

.switch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: navy;
  border-radius: 25px;
  transition: all 0.9s;
  background-color: #f7ca33;
}

.switch:checked {
  background-image: url(https://res.cloudinary.com/dargjxuh5/image/upload/v1598812470/night_kc1btw.png);
  transition: background-image 0.9s;
}

.switch:checked:before {
  transform: translate(100%);
  transition: all 0.9s;
  background-color: #ecf0f3;
}

.dark section {
  background-image: url("../img/medellin-at-night.png");
}

.dark .neon {
  font-family: neon;
  color: #fb4264;
  text-shadow: 0 0 3vw #f40a35;
  animation: neon 3s ease infinite;
  -moz-animation: neon 3s ease infinite;
  -webkit-animation: neon 3s ease infinite;
}

.dark h1 {
  font-size: 30px;
  margin: 33px;
}
.dark p {
  font-size: 20px;
  margin: 20px;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 0.5vw #fa1c16, 0 0 2vw #fa1c16, 0 0 2vw #fa1c16,
      0 0 5vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  20% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 2vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}
/* Dark mode <== */
